<template>
<div>
    <h1>{{title}}</h1>
    <v-flex xs8 offset-xs5 offset-md2 offset-lg2>
        <v-card  id="fondo">
          <v-card-text></v-card-text>
      
            <v-form v-mode-l="valid">
               
            <!-- Inicio Sección de Selección para informe -->

            <v-container fluid>
              <!-- Seleccionar equipo Local -->
                <v-layout row wrap align-center>
                <v-flex xs12 sm6>
                    <v-select
                    :items="equipos"
                    v-model="e6"
                    :menu-props="{ maxHeight: '400' }"
                    label="Seleccione Equipo"
                    multiple
                    chips
                    hint="Equipo Local"
                    persistent-hint
                    ></v-select>
                </v-flex>
                <!-- Seleccionar equipo Visitante-->
                <v-flex xs12 sm6>
                    <v-select
                    :items="equipos"
                    v-model="e6"
                    label="Seleccione Equipo"
                    multiple
                    chips
                    hint="Equipo Visita"
                    persistent-hint
                    ></v-select>
                </v-flex>
                </v-layout>
               
                <!-- Seleccionar equipo Lugar de juego partido-->
                <v-layout row wrap align-center >
                      <v-flex xs12 sm12>
                        <v-select
                        :items="lugar"
                        v-model="e6"
                        label="Seleccione Ubicación"
                        multiple
                        chips
                        hint="Ubicación"
                        persistent-hint
                        ></v-select>
                    </v-flex>
                  <!-- Seleccionar Serie del los equipo-->
                    <v-flex xs12 sm12>
                        <v-select
                        :items="serie"
                        v-model="e6"
                        label="Seleccione Serie"
                        multiple
                        chips
                        hint="Serie"
                        persistent-hint
                        ></v-select>
                    </v-flex>
                    </v-layout>
                  <!-- Seleccionar Fecha de partido-->
                    <v-layout row wrap align-center>
                         
                         <v-flex md12 lg6>
                           
                          <v-date-picker>
                          </v-date-picker>
                      </v-flex>
                     
                  <!-- Seleccionar Horario de partido-->
                      <v-flex md12 lg6 class="hidden-xs-only">
                        <v-time-picker v-model="e6" color="green lighten-1" header-color="primary"></v-time-picker>
                      </v-flex>
                    </v-layout>
                </v-container>
                 <!-- fin selccionn -->

              
              

                
                <v-btn @click="submit" class="primary">submit</v-btn>
                <v-btn @click="clear" class="warning">clear</v-btn>
            </v-form>
        </v-card>
      </v-flex>
     
</div>
</template>

<script>

  export default {
    data: () => ({
      title: 'Agregar nueva Fecha',
      valid: true,
        
      select: null,
      items: [
        'Item 1',
        'Item 2',
        'Item 3',
        'Item 4'
      ],
      equipos: [
          'Deportivo Caburgua',
          'Deportivo Condor',
          'Carileufu',
          'Cruz Roja',
          'Paillaco',
          'Roble',
          'Santa Fe',
          'El Pequeño',
          'D. Volcán',
          'Quetrofeufu',
          'Flor del Lago',
          'Villa San Pedro',
          'Maipo'
      ],
      lugar: [
          'Cabuergua', 'Carhuello', 'Quelhue', 'Pichares', 'San Pedro', 'Quetroleufu', 'Paillaco', 'Coilaco',
      ],
      serie: [
        'Honor', 'Senior', 'Segunda', 'Damas', 'Infantil', 'penecas'
      ],

      checkbox: false
     
    }),
    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          axios.post('/api/submit', {
            equipos: this.equipos,
            lugar: this.lugar,
            serie: this.serie,
            checkbox: this.checkbox
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>
</script>
<style lang="stylus">

  @import '../css/main.css';
</style>