<template>
<div>
    <h1>{{title}}</h1>
    
    <v-flex xs8 offset-xs5 offset-md2 offset-lg2>
        <v-card  id="fondo">
          <v-card-text></v-card-text>
          <v-container>
            <v-form v-model="valid">
                <v-text-field
                label="Name"
                v-model="name"
                :error-messages="nameErrors"
                :counter="10"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                required
                ></v-text-field>
                <v-text-field
                label="Club"
                v-model="club"
                :error-messages="nameErrors"
                :counter="10"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                required
                ></v-text-field>
                <v-text-field
                label="E-mail"
                v-model="email"
                :error-messages="emailErrors"
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
                required
                ></v-text-field>
                <v-text-field
                label="Dorsal"
                v-model="dorsal"
                :error-messages="nameErrors"
                :counter="2"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
                required
                ></v-text-field>
                <v-select label="Fecha de macimiento" v-model="fNacimiento" :items="items"
                :error-messages="selectErrors" @change="$v.select.$touch()" @blur="$v.select.$touch()" required
                ></v-select>
                <v-checkbox label="Federado?" v-model="checkbox" :error-messages="checkboxErrors"
                @change="$v.checkbox.$touch()"@blur="$v.checkbox.$touch()" required
                ></v-checkbox>
                
                <v-btn @click="submit">submit</v-btn>
                <v-btn @click="clear">clear</v-btn>
            </v-form>
            </v-container>
        </v-card>
      </v-flex>
     
</div>
</template>

<script>

  export default {
    data: () => ({
      title: 'Agregar Jugador',
      valid: true,
      name: '',
      nameRules: [
        (v) => !!v || 'Name is required',
        (v) => v && v.length <= 10 || 'Name must be less than 10 characters'
      ],
      email: '',
      emailRules: [
        (v) => !!v || 'E-mail is required',
        (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
      select: null,
      items: [
        '1990',
        '1991',
        '1992',
        '1993'
      ],
      checkbox: false
     
    }),
    methods: {
      submit () {
        if (this.$refs.form.validate()) {
          // Native form submission is not yet supported
          axios.post('/api/submit', {
            name: this.name,
            email: this.email,
            select: this.select,
            checkbox: this.checkbox
          })
        }
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>
</script>
<style lang="stylus">

  @import '../css/main.css';
</style>