<template >
  <v-data-table id="app"
    :headers="headers"
    :items="desserts"
    :loading="true"
    class="elevation-1"
  >
    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
    <template slot="items" slot-scope="props">
      <td>{{ props.item.name }}</td>
      <td class="text-xs-right">{{ props.item.puntos }}</td>
      <td class="text-xs-right">{{ props.item.jug }}</td>
      <td class="text-xs-right">{{ props.item.ganados }}</td>
      <td class="text-xs-right">{{ props.item.perdidos }}</td>
      <td class="text-xs-right">{{ props.item.goles }}</td>
    </template>
  </v-data-table>
</template>

<script>
 export default {
    
    data () {
      return {
        headers: [
          {
            text: 'Equipo Liga pulafque',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Puntos', value: 'puntos' },
          { text: 'Jugados', value: 'jug' },
          { text: 'Ganados', value: 'ganados' },
          { text: 'Perdidos', value: 'perdidos' },
          { text: 'Goles ', value: 'goles' }
        ],
        desserts: [
          {
            value: false,
            name: 'Deportivo Condor',
            puntos: 80,
            jug: 30,
            ganados: 25,
            perdidos: 4,
            goles: '106'
          },
          {
            value: false,
            name: 'Roble',
            puntos: 76,
            jug: 30,
            ganados: 24,
            perdidos: 5,
            goles: '103'
          },
          {
            value: false,
            name: 'Cruz roja',
            puntos: 75,
            jug: 30,
            ganados: 23,
            perdidos: 6,
            goles: '88'
          },
          {
            value: false,
            name: 'Deportivo Caburgua',
            puntos: 70,
            jug: 30,
            ganados: 23,
            perdidos: 3,
            goles: '89'
          },
          {
            value: false,
            name: 'Flor del Lago',
            puntos: 68,
            jug: 30,
            ganados: 20,
            perdidos: 6,
            goles: '78'
          },
          {
            value: false,
            name: 'Paillaco',
            puntos: 56,
            jug: 30,
            ganados: 20,
            perdidos: 7,
            goles: '75'
          },
          {
            value: false,
            name: 'Volcan',
            puntos: 50,
            jug: 30,
            ganados: 15,
            perdidos: 8,
            goles: '56'
          },
          {
            value: false,
            name: 'Maipo',
            puntos: 43,
            jug: 30,
            ganados: 14,
            perdidos: 9,
            goles: '58'
          },
          {
            value: false,
            name: 'San Pedro',
            puntos: 28,
            jug: 30,
            ganados: 8,
            perdidos: 15,
            goles: '44'
          },
          {
            value: false,
            name: 'Santa fe',
            puntos: 25,
            jug: 30,
            ganados: 8,
            perdidos: 20,
            goles: '39'
          }
        ]
      }
    }
  }
</script>