<template>

    <section>
    <v-parallax
    dark
    src="https://ae01.alicdn.com/kf/HTB1Hs3TLXXXXXbOaXXXq6xXFXXX0/beibehang-3D-Football-Wallpaper-Sport-Photos-Wallpaper-Living-Room-Sofa-Bedroom-Soccer-TV-Background-Customize-3d.jpg_640x640q90.jpg" 
    >
    <v-layout
      align-center
      column
      justify-center
    >
      <h1 class="display-2 font-weight-thin mb-3">Referee Do</h1>
      <h4 class="subheading">Organiza tus datos de futbol!</h4>
    </v-layout>
  </v-parallax>

   <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
          <v-flex xs12 sm4 class="my-3">
            <div class="text-xs-center">
              <h2 class="headline">La mejor aplicación para gestionar campeonatos</h2>
              <span class="subheading">
                Referee Do futbol data
              </span>
            </div>
          </v-flex>
          <v-flex xs12>
            <v-container grid-list-xl>
              <v-layout row wrap align-center>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">color_lens</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Gestiona tu camponato de futbol</div>
                    </v-card-title>
                    <v-card-text>
                      Manten toda la informacion del campeonato y de las fechas al día, con referee Do puedes crear un nuevo perfil de usuario,
                      desde aquí administras los datos de los partidos de futbos desde los informes arbitrales.
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">flash_on</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline">Infome de estadisticas</div>
                    </v-card-title>
                    <v-card-text>
                      Desde los datos registrados de los informes arbitrales Referee Do muestra las estadisticas del campeonato de manera sincronizada.
                      Información de jugadores, traspasos, castigos, etc. 
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12 md4>
                  <v-card class="elevation-0 transparent">
                    <v-card-text class="text-xs-center">
                      <v-icon x-large class="blue--text text--lighten-2">build</v-icon>
                    </v-card-text>
                    <v-card-title primary-title class="layout justify-center">
                      <div class="headline text-xs-center">Opciones perfil de arbitro</div>
                    </v-card-title>
                    <v-card-text>
                      También podrás gestionar los datos de los jugadores, como nuevas incorporaciones o traspasos a otros equipos,
                      y agregar fechas de castigos a los Jugadores
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-flex>
        </v-layout>
      </section>

        
       
     

</template>
