
.intro {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
  }
  
  a {
    color:LightGray;
  }
  
  .text-center {
    text-align: center;
  }
  h1{
    text-align: center;
    text-decoration-color: rgb(235, 169, 169);
  }

  #fondo {
    background-color: #ECEFF1;
  }