<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app temporary>
      <v-list>
        <v-list-tile>
          <v-list-tile-content>
            <v-list-tile-title>
              <span>Menu</span>
            </v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
             <v-toolbar flat class="transparent">
              <v-list class="pa-0">
                <v-list-tile avatar>
                  <v-list-tile-avatar>
                    <img src="http://www.theclinic.cl/wp-content/uploads/2012/01/selman_ruben.jpg">
                  </v-list-tile-avatar>
                  
                  <v-list-tile-content>
                    <v-list-tile-title>Ruben Selman</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </v-list>
           </v-toolbar>
        <v-divider></v-divider>
        <template v-for="(item, index) in items">
          <v-list-tile :href="item.href" :to="{name: item.href}" :key="index">
            <v-list-tile-action>
              <v-icon light v-html="item.icon"></v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-html="item.title"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar class="indigo" dark app>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>REFEREE DO</v-toolbar-title>
      <v-spacer></v-spacer>
       <v-toolbar-items>
        <v-btn flat href="#/">Home</v-btn>
        <v-btn flat href='#/proxFechas'>Proximas Fechas</v-btn>
        <v-btn flat href='#/jugadores'>Jugadores</v-btn>
        <v-btn flat href='#/estadisticas'>Estadisticas</v-btn>
        <v-btn flat href='#/about'>About</v-btn>
      </v-toolbar-items>
      <v-btn icon @click.native.stop="openGitLab()">
        <v-icon>info</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-fade-transition mode="out-in">
        <router-view></router-view>
      </v-fade-transition>
    </v-content>
    <v-footer class="indigo pa-3" dark app>
      <span>© 2018 - <a href="https://github.com/disjfa" class="indigo text--lighten-5"></a></span>
    </v-footer>
  </v-app>
</template>

<script type="text/babel">
export default {
  data() {
    return {
      drawer: false,
      items: [{
        href: 'agregarJugador',
        router: true,
        title: 'agregar jugador',
        icon: 'edit',
      }, {
        href: 'Perfil',
        router: true,
        title: 'Perfil',
        icon: 'extension',
      },
      {
        href: 'agregarFecha',
        router: true,
        title: 'Agregar Fecha',
        icon: 'edit',
      }, 
        {
        href: 'about',
        router: true,
        title: 'About',
        icon: 'domain',
      }],
    };
  },
  methods: {
    openGitLab() {
      window.open('https://gitlab.com/jR1NG0/referee-do');
    },
  },
};
</script>
<style lang="stylus">

  @import 'css/main.css';
</style>


